<body>
  <div class="container">
    <div class="page-header"><h1>New Task</h1></div>

  <ol class="breadcrumb">
    <a href="/tasks">Tasks</a>
    <li class="active"> / New Task</li>
  </ol>


<%= render 'form' %>

</div>
</body>
