<body>

  <div class="container">
    <div class="page-header">
      <div class="pull-right">
        <%= link_to 'New Project', new_project_path, class: "btn btn-info" %>
      </div>
      <h1>Projects</h1></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |pj| %>
      <tr>
        <td><%= link_to pj.name, project_path(pj) %></td>
        <td><%= link_to pj.tasks.count, project_tasks_path(pj) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>
</body>
